---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignAfterOpenBracket: BlockIndent